<html>
    <!DOCTYPE html>
    <html>
    <head>
     <title>Bellezze d'Italia</title>
    </head>
    <body>
    
     <h1>Immagini</h1>
    
     <div style="display: flex; flex-wrap: wrap;">
      <div style="flex: 1 1 50%;">
       <img src="duomodiModena.jpg" alt="Modena" width="100%">
       <p>Modena</p>
      </div>
      <div style="flex: 1 1 50%;">
       <img src="duomodiTorino.jpg" alt="Torino" width="100%">
       <p>Torino</p>
      </div>
      <div style="flex: 1 1 50%;">
       <img src="duomodiFirenze.jpg" alt="Firenze" width="100%">
       <p>Firenze</p>
      </div>
      <div style="flex: 1 1 50%;">
       <img src="milano.jpg" alt="Milano" width="100%">
       <p>Milano</p>
      </div>
     </div>
    
    </body>
    </html>
</html>